.duration{
    width: 200px;
    height: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    margin-left: 20px;
    margin-top: 10px;
}
.duration1{
    width: 333px;
    height: 20px;
   
    margin-left: 20px;
    margin-top: 25px;
}
.selecter-time{
    width: 333px;
    height: 30px;
    margin-left: 20px;
    text-align: center;
    line-height: 30px;
    margin-top: 15px;
}
.total{
    width: 333px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
.total-pay{
    width:50px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: rgba(64, 123, 255, 1);
}
.total-time{
    width:50px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: rgba(66, 66, 66, 1);
    margin-left: 4px;
    
    
}
.continue{
    width: 333px;
    height: 40px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;
    background: rgba(64, 123, 255, 1);
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}